@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.blog-content {
  width: 100%; /* Full width of the screen */
  height: 100%; /* Full height */
  display: flex;
  justify-content: center;
  padding: 0; /* Remove padding to eliminate whitespace */
  margin: 0; /* No margin to prevent spacing */
  background-color: #070708 !important;
  font-family: 'Source Sans 3';
}

.blog-container {
  max-width: 645px;
  dynamic: flex;
  width: 90%;
  padding: 20px; /* Optional padding inside the container */
}

a {
  color: #7E00E6 !important;
}
